@model Open.Logic.ProductClasses.LendBookModel
@{
    ViewBag.Title = "Lend a Book";
}
<h2>Lend a Book</h2>
@using (Html.BeginForm("LendBook", "Product", "Customer", FormMethod.Post))
{
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Contacts, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.SelectedCustomerId, Model.Contacts)
                @Html.ValidationMessageFor(model => model.Contacts, "", new { @class = "text-danger" })
            </div>
        </div>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Products, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.SelectedProductId, Model.Products)
                    @Html.ValidationMessageFor(model => model.Products, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    @Html.ActionLink("Lend", "CustomerDetails", "Customer", new { id = Model.SelectedCustomerId }, null)
                </div>
            </div>
        </div>
}